article.projectView {
  display: grid;
  grid-template-areas: "prev text";
  grid-template-columns: max-content 1fr;
  container-type: inline-size;
  gap: calc(var(--p-level-1) * 2.142857);

  &.reversed {
    grid-template-areas: "text prev";
    grid-template-columns: 1fr max-content;

    section.text > header.title {
      // ...
    }
  }

  section.preview {
    @apply bg-project-preview-primary rounded-[.9em]
           inline-flex;

    width: min(40cqw, 541px);
    grid-area: prev;
    aspect-ratio: 541 / 460.6;
  }

  section.text {
    @apply flex flex-col;

    grid-area: text;

    header.title {
      @apply flex flex-col;

      gap: calc(var(--p-level-2) * .9375);

      h3.heading {
        line-height: normal;
      }

      p.desc {
        @apply text-font-secondary;

        line-height: 150%;
      }
    }
  }
}
